body {
	background-color: #FFCCFF;
}
p {
	font-size: 14pt;
	font-family: "Times New Roman", Times, serif;
    color:blueviolet;
}
table {
	padding: 5px;
	margin: auto;
	border-collapse: separate;
	}
	
table,td{
	border 0px solid}
}

.textc {
	text-color:color: #ff00ff;
}

a{
	color: rgb(146, 243, 0);
}
